* {
    padding: 0;
    margin: 0;
}

.header {
    height: 100px;
    background: linear-gradient(to right,#fa6585,orangered);
    text-align: center;
    line-height: 100px;
    color : white;
    font-size: 50px;
}

.footer{
    height: 75px;
    position: fixed;
    bottom: 0;
    line-height: 75px;
    text-align: center;
    width: 100%;
    background: #666666;
    color: white;
    font-size: 25px;
}

.footer a {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 20px;
    color: lightblue;
    transition: 400ms;
}
.footer a:hover{
    color : orangered;
}
.content {
    width: 100%;
    height: calc(100vh - 175px );
    display: flex;
}

.side-bar {
    width: 300px;
    background: #c4c8ce;
    height: 100%;
    padding: 10px;
}
ul > li {
    font-size: 20px;
    list-style: none;
}
ul > li >i {
    font-size: 20px;
    color: #fa6585;
}
a {
    text-decoration: none;
    color: orangered;
}
a.active {
    color : royalblue;
}

.row {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding: 30px;
}
.row ul {
    margin-top: 30px;
}
.row p {
    margin-top: 30px;
}
.table {
    margin-top: 15px;
}
